/* Importing Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define CSS variables for color schema */
:root {
    --primary-color: #9EC5AB; /* Cambridge Blue */
    --secondary-color: #32746D; /* Myrtle Green */
    --accent1-color: #104F55; /* Midnight Green */
    --accent2-color: #011502; /* Night */
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    max-width: 1200px; /* Limit width for easier design */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2 {
    text-align: center;
    font-size: 200%;
}

/* Header */
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
}

header img {
    margin: auto;
    width: 75px;
    height: auto;
}

nav {
    font-size: 1.2rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link {
    color: var(--accent1-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: #ccc;
}

/* Background and Text Color */
body {
    --background-color: #E6EBE0; /* Alabaster */
    --text-color: #000000; /* Night */
    --heading-color: #104F55; /* Midnight Green */
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
}

/* Navigation Links */
nav a {
    color: var(--link-color);
}

nav a:link {
    color: var(--link-color);
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

/* Social Media Links */
.social-media a {
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: none;
}

/* About Section */
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #343F3E;
    color: white;
    margin: 15px;
}

/* Team Section */
.team-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    width: 45%;
    margin: 10px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-top: auto;
}

.button:hover {
    background-color: #555;
}

/* Form & Map Section */
.contact-section {
    margin: 15px;
}

.form-and-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    width: 45%;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

.sr-only {  
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: relative;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #343F3E;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
}

button:hover {
    background-color: #F5D547;
    color: #343F3E;
}

.map {
    width: 50%;
    margin: 15px 0;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.contact-container h1 {
    position: relative;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .team-member, .form-and-map form, .form-and-map .map {
        width: 100%;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer p {
    text-align: center;
    padding: 25px;
}

footer img {
    width: 30px;
}
